/* Footer */
#footer {
  background: #222b30;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  padding: 30px 0 15px 0;
}
#footer .footer-top .footer-info {
  background: #313f46;
  color: #fff;
  /* border-top: 4px solid #fff; */
  text-align: center;
  padding: 15px 10px;
}
#footer .footer-top .footer-info a {
  color: #fff;
  text-decoration: none;
}
#footer .footer-top .footer-info h3 {
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
#footer .footer-top .social-links a img {
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  width: 60px;
  height: 60px;
  transition: 0.3s;
}
#footer .footer-top .social-links a img:hover {
  background: #222b30;
  text-decoration: none;
  border-radius: 6px;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: lightgrey;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: lightgrey;
}
#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}
#footer .license {
  color: white;
  border-top: 1px solid lightgrey;
  text-align: center;
  padding-top: 15px;
}
.license p {
  font-size: medium;
}
.license a {
  border-width: 0;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.license a:hover {
  border-width: 0;
  color: lightgrey;
  text-decoration: underline;
}
#footer .update {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}
#footer .update a {
  color: #fff;
}
@media (max-width: 575px) {
  #footer .footer-top .footer-info {
    margin: -20px 0 30px 0;
  }
}