/* Navbar */
header {
  height: 65px;
}
.disabled {
  cursor: not-allowed;
}
nav#navbar.navbar {
  margin-bottom: 0;
  border-radius: 0 !important;
  background-color: #222b30 !important;
  border-color: #157DB9 !important;
}
#navbar>div>a>img {
  width: auto;
  height: 50px;
}
div.container-fluid>a, a.nav-link {
  color: lightgrey;
  text-align: center;
}
div.container-fluid>a:hover, a.nav-link:hover {
  color: #fafafa;
}
button.navbar-toggler {
  border-color: #fafafa;
}
.navbar-toggler-icon {
  filter: invert(60%);
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem grey;
}
/* Estilos para el menú multinivel */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, .15);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/* Mostrar submenús al hover en desktop */
@media (min-width: 992px) {
  .dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu {
    position: relative;
  }
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    display: none;
  }
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .menu-chevron-right {
    float: right;
    font-size: large;
  }
}
/* Ajustes para móvil */
@media (max-width: 991px) {
  .dropdown-menu {
    border: none;
    box-shadow: none;
  }
  .dropdown-submenu>.dropdown-menu {
    padding-left: 1rem;
  }
  .dropdown-submenu>a:after {
    transform: rotate(90deg);
  }
}
/* Estilos adicionales para mejorar la apariencia */
.navbar {
  padding: 0.5rem 1rem;
}
.dropdown-item {
  padding: 0.5rem 1.5rem;
}
.dropdown-menu {
  min-width: 200px;
}
/* Fin navbar */
/* Responsive Navbar */
.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #222b30;
  overflow: hidden;
  z-index: 1000;
}
.topnav .logo {
  float: left;
  padding: 0
}
.topnav .logo img {
  height: 40px;
  display: block;
  width: 100px;
  padding: 0 15px;
  margin: 13px 0;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.topnav .icon {
  display: none;
  padding: 20px 16px;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-subcontent {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #313f46;
  color: white;
}
.dropbtn-a {
  padding: 0 !important;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown-submenu>.dropdown-subcontent {
  display: none;
}
/* Desktop hover behavior */
@media screen and (min-width: 601px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-submenu:hover .dropdown-subcontent {
    display: block;
  }
}
/* Mobile styles */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    margin: 0;
  }
  .topnav.responsive {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
    padding-left: 20px;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: flex;
    width: 100%;
    text-align: left;
    justify-content: space-between;
    font-size: x-large;
  }
  .topnav.responsive .dropdown-subcontent {
    position: relative;
    left: 0;
    padding-left: 20px;
  }
  .dropdown-content.show,
  .dropdown-subcontent.show {
    display: block;
  }
}
/* Fin estilos para submenús en vista móvil */